---
//配列
const nav = ["ホーム1", "ホーム2"];

//json
const link = {
  href: "/",
  label: "Home",
};

//json配列
const nav1 = [
  { href: "/", label: "Home" },
  { href: "/", label: "Home2" },
];

import Alert from "../components/Alert.astro";
import "../css/style.scss";

//変数
const color = "";

//比較演算子
const x = 10;
---

<html>
  <meta charset="UTF-8" />
  <p>css</p>

  <!-- 配列 -->
  <ul>
    {nav.map((item) => <li>{item}</li>)}
  </ul>
  <!-- /配列 -->

  <!-- json -->
  <a href={link.href}>{link.label}</a>
  <!-- json -->

  <!-- json配列 -->
  <ul>
    {
      nav1.map((nav_item) => (
        <li>
          <a href={nav_item.href}>{nav_item.label}</a>
        </li>
      ))
    }
  </ul>
  <!-- /json配列 -->

  <!-- コンポーネント呼び出し -->
  <Alert />
  <!-- /コンポーネント呼び出し -->

  <p class="box">あああああああ</p>

  <!-- 比較演算子 -->
  <p class="">{x === 10 ? "yes" : "no"}</p>
  <!-- /比較演算子 -->

  <!-- style -->
  <style lang="scss">
    h1 {
      color: red;
    }
    body {
      color: var(--color);
    }
  </style>
  <!-- /style -->


</html>
